{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">Home Security Solutions</h6>
    <h1 class="font-weight-normal">SECURE YOUR HOUSE WHILE YOU ARE AWAY!</h1>
    <div>
        <img src="{% static 'images/banners/img12.jpeg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify text-dark">
        <p>
            <span class="h1 text-danger">H</span> security has always been an annoying question especially before  planning a long holiday or vacation.<br>

                Especially in today’s time when robbers are turning extra smart and technology savvy. Here we give several tips which you can adapt to protect your homes from being burgled, or from the theft of any types. There are many steps you can take to secure your home and property and stay green while you’re gone.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-bold h2">Get a sitter for your house </span><br>

            A- The fact that I have traveled and lived all around the world. My immediate family is spread across four continents – America, Europe, Africa, and Asia. This inspires me to make products for a global community living in a modern world. Also, since stress levels have reached new heights in today’s generation, the whimsical young girl in me aims to take the ‘edge’ off everyday tasks by designing products that add humor and value to the mundane.
        </p>
        <hr>
        <p class="font-weight-bold h2">Tell the neighbors</p>
        <p>In India, it is rightly said that neighbors are closest relatives & this is the times when having a true neighbor drops in. Inform your neighbors when you’ll be gone and ask them to keep an eye on. The more careful eyes, the more better. You may ask a next-door neighbor to park his/her car in your garage to give the illusion of someone at home.</p>
        <hr>
        <p class="font-weight-bold h2">Don’t leave a light switched on.</p>
        <p>A single light above the kitchen sink or in the corner of the living room — constantly burning not only wastes energy, it acts as a “burglar beacon,” telling crooks no one is home.</p>
        <hr>
        <p class="font-weight-bold h2">Alarm and Light security systems</p>
        <p>Common sense, use of anti-burglar alarm makes life easier. Be it the time when you are busy vacationing or in regular life, use it. Install motion-detector lighting systems, especially in the side yard and the backyard</p>
        <hr>
        <p class="font-weight-bold h2">Sliding doors of your house shouldn’t slide</p>
        <p>If your house has sliding doors, you’ll want to use a auxilliary lock. Lay reused or recylced brromsticks, wood closet rods, or even PVS pipe in the door track to secure the sliding door.</p>
        <hr>
        <p class="font-weight-bold h2">Overwrought.</p>
        <p>A wrought iron security door always allows you to live the front door open for cross ventilation, decreasing demands on your air conditioner. Installating of a wrought iron security door over the front door of your house not only discourages burglars it encourages natural climate control.</p>
        <hr>
        <p class="font-weight-bold h2">Keep on the grass</p>
        <p>If you have a lawn service, maintain your regular schedule of service. Nothing says, “Please break in,” like an overgrown lawn. If you do it yourself, hire a neighborhood kid to cut your grass while you’re away.</p>
        <hr>
        <p class="font-weight-bold h2">Sans Newspaper</p>
        <p>Make sure you tell newspaper vendor to suspend delivery for the time you are away reason being its an open invitation to the burglars given by heap of newspapers at the door. Nothing says, “Please break in,” like a pile of papers in the driveway. Also, suspend mail delivery while you’re gone.</p>


    </div>
    <hr>
</div>

{% endblock %}