{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">HOME SECURITY SOLUTIONS
    </h6>
    <h1 class="font-weight-normal text-dark">QUICK TIPS FOR HOME SECURITY
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img13.jpg' %}" alt="img" srcset="" class="content_1_style">
    </div>
    <div class="my-4 text-justify">
        <p>
            <span class="text-danger h1">H</span>ome security has always been a top priority. Read how to be careful
            while you’re away
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Keys and home security
        </p>
        <p>Be very careful with keys never lend it to anyone be it your friend or ancient neighbors. Also never use
            hide-a-keys or leave the key under the doormat, above the door, in a flowerpot, or anywhere outside the
            house. You may think you’re smart, but experienced thieves know all the tricks. Also, keep your car keys and
            house keys on a different ring if you ever use valet parking or leave your keys with parking lot attendants
            or even at a repair garage.</p>
        <hr>
        <p class="h1 font-weight-normal text-dark">

            Don’t let strangers in the house:
        </p>
        <p>
            Always insist on an identity card before opening the safety grill of your home or your door to any stranger.
            Home security means being cautious. This goes for anyone you don’t recognize. Don’t assume someone is
            legitimate just because they’re wearing a uniform or driving a company truck–these things can be stolen. If
            somebody comes to your door and asks to make a phone call, offer to make it for them, but don’t let them in.
            If you walk away to make a call or some such, lock the door behind you; you don’t want to leave the door
            unlocked and unmanned. A chain on the door helps ensure someone can’t force their way in while you’re there.
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Home Security locks:
        </p>
        <p>
            Get into the habit of locking your doors and windows, even if you’re at home. Get your children into this
            habit, too and prep them up for home security
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Don’t be predictable:
        </p>
        <p>
            It’s good to form a routine and follow a particular pattern for your life but bringing changes sometimes is
            okay. If you always leave at the same time every day, are going for the same length of time, and return at
            the same time, thieves can quickly memorize your routine, taking advantage of the times you’re not at home.
            Work is work, and you probably can’t change those hours, but if you go to a class or the grocery store at
            the same time all the time, try to make yourself less predictable and enable home security.
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Valuables shouldn’t be on display:
        </p>
        <p>
            It’s not a good idea if somebody can look in your window and see your wallet, credit cards, purse, jewelry,
            or fancy electronics in open sight. A computer or television placed in front of a ground-floor window may
            make an easy target. Likewise, electronics placed across from a window are easily visible, too. Also, don’t
            leave your garage doors open for the world to see your belongings. Lightweight items could be snatched away
            quickly and easily.
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Watch your trash:
        </p>
        <p>
            Just bought a new entertainment system? A bunch of empty boxes out by the curb triggers an alarm to would-be
            thieves. Instead of putting boxes out in plain sight, cut them down, and stuff them in trash bags. Also, be
            wary of identity theft. Never put personal identification information in your trash unshredded and level-up
            your home security game.
        </p>
        <hr>
        <p class="h1 font-weight-normal text-dark">
            Home Security is very essential. Be alert
        </p>
        <p>
            Home security is very essential. Try to be aware of your surroundings on a day-to-day basis, even in your
            familiar neighborhood. This doesn’t mean walking around like a crazy paranoid person; keep your eyes out for
            suspicious activity.
            Paying attention to the simple things can make you and your family much less of a target. Burglar alarms and
            home security systems are great investments, but prevention is the best way to stay safe.
        </p>



    </div>
    <hr>
</div>


{% endblock %}