{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">Home Security Solutions</h6>
    <h1 class="font-weight-normal">HOME SECURITY COMMON MISTAKES</h1>
    <div>
        <img src="{% static 'images/banners/new1.jpg' %}" alt="img" srcset="" class="content_1_style">
    </div>
    <div class="my-4 text-justify text-dark">
        <p>
            <span class="h1 text-danger">S</span>o many people don’t think about home security until its too late, until after someone has broken into their home. That is when they get the call. Lets not just wait for the call, let’s start acting. Following are some common home security mistakes.
        </p>
        <hr>
        <p class="h2 font-weight-bold">
            Beef-up your home security by having strong modern locks
        </p>
        <p>
            Some homeowners neglect to fix broken locks right away, putting the job off for tomorrow (or whenever they feel like it). It is essential, however, to make sure all your doors and windows have strong modern locks that are in good repair. Thinking that a window is high enough and a thief cannot break in is a kind of foolish thought!
        </p>
        <hr>
        <p class="font-weight-bold h2">Burglar Alarms That Aren’t Turned on:</p>
        <p>Keep your home security system always updated and activated. Test your alarm regularly and check for any upgrades to the software. And don’t forget to turn it on when you leave the house, even if you’re planning to run an errand. A single thief can utterly ransack your home in just a few minutes.</p>
        <hr>
        <p class="font-weight-bold h2">Untamed Landscaping:</p>
        <p>Though you may like the idea of privacy, ultimately your home will be more secure if neighbors can see into your front and back yard. Burglars love to hide behind bushes and shrubbery; don’t give them that opportunity. Keep the foliage trimmed, especially around the house, and make sure all the outdoor lights are in good working order (even better, install motion or body heat-sensing outdoor lights).</p>
        <hr>
        <p class="font-weight-bold h2">Alarm and Light security systems</p>
        <p>Common sense, use of anti-burglar alarm makes life easier. Be it the time when you are busy vacationing or in regular life, use it. Install motion-detector lighting systems, especially in the side yard and the backyard</p>
        <hr>
        <p class="font-weight-bold h2">Unlocked Storage Sheds:</p>
        <p>If you have a storage shed, make sure you keep it locked at all times, because otherwise, you’re offering thieves free use of all your tools which can certainly help them figure out a way into your home. Also, make sure you don’t leave a ladder laying out in your yard anywhere. Someone could use this to gain access to the second-story windows.</p>
        <hr>
        <p class="font-weight-bold h2">Losing keys in the car disrupts the home security:</p>
        <p>It’s bad enough if you leave your car unlocked (you shouldn’t, even in the garage), but never go a set of house keys in the car. If you do, a burglar who gains access to your vehicle will also have access to your house.</p>
    </div>
</div>

{% endblock %}