{% extends 'base.html' %}

{% block content %}
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
	{% include 'includes/dashboard_sidebar.html' %}
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password</strong>
			
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-12">
                    <form method="POST" action="{% url 'change_password' %}">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for ="">Enter current password</label>
                        <input type="password" class="form-control" placeholder="Enter current Password" name="current_password" required>

                    </div>
                    <div class="form-group">
                        <label for ="">Enter new password</label>
                        <input type="password" class="form-control" placeholder="Enter new Password"  name="new_password" required>
                        
                    </div>
                    <div class="form-group">
                        <label for ="">Enter confirm password</label>
                        <input type="password" class="form-control" placeholder="Enter confirm Password"  name="confirm_password" required>
                        
                    </div>
                    <input type="submit" value="submit">
					</form>
				
				
			</div> <!-- row.// --
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>


{% endblock %}