{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">HOW TO CLOCK IT RIGHT WITH VASTU</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img29.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">W</span>e live in a civilized era that has placed massive importance on time. Thus it’s of great importance that we also align our energy Clock positively. If the clock is set on the wall as per Vastu directive, the results augur to be positive. Hanging the clock in the wrong direction would undoubtedly lead to undesired outcomes. These five points will help you in placing the clock right in your house.

        </p>
        <p>
            1.Always set the Wall clock or table clock on the Eastern wall or Northern wall.
        </p>
        <p>
            2.
            According to Vastu principals, to energize the Eastern direction of the office. Pendulum clocks are considered most as they create positive sound waves vibration.
        </p>
        <p>
            3.Never place Wall clock or table clock on the Southern or Western Walls.
        </p>    
        <p>
            4.
            Do not put Wall clock at the top of the doorway, besides, it should not face the main door or bedroom door either as it signifies ticking away your life.
        </p>
        <p>
            5.Watches should be in always maintained and ensured that they are in working condition as they mean life energy.
        </p>
    </div>
    <hr>
</div>
{% endblock %}