{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">
        5 WAYS TO USE VASTU FOR POSITIVITY AT HOME
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img31.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <ul>
            <ol class="text-dark my-2 font-weight-bold">
                1.To maintain an amicable relationship a Father should not keep his bedroom a floor above his progeny.
            </ol>
            <ol class="text-dark my-2 font-weight-bold">
                2.Avoid creaking and slamming doors as they generate negative vibrations in the house.
            </ol>
            <ol class="text-dark my-2 font-weight-bold">
                3.A home with minimal furniture’s and obstructions portends positive energy Inflow. To ensure that your home is movement friendly.
            </ol>    
            <ol class="text-dark my-2 font-weight-bold">
                4.Artifacts depicting cruelty and crying women proliferate negative energy. Thus avoid it.
            </ol>
            <ol class="text-dark my-2 font-weight-bold">
                5.Northen Toilets or Washrooms are the harbingers of conflict between siblings. Be cautious while planning for the same.
            </ol>
        </ul>
    </div>
    <hr>
</div>
{% endblock %}