{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        VASTU GUIDELINES FOR CAREER
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img36.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p>
            1.To gain good luck in the competition, interviews and promotion at work keep your northeast corner of home clutter free as this is the corner of energy.
        </p>
        <p class="text-dark">
            2.To invite good Career opportunities in your home, put a colorful and inviting mat at the front door if you are working from home then its better to put a rectangular desk for office because this shape provides peace, prosperity, and health.
        </p>
        <p class="text-dark">
            3.For career growth and success, you can put energized wish-fulfilling cow on your desk.
        </p>
        <p class="text-dark">
           4.
           At your office desk at home do not sit on a chair where your feet are pointed towards to door, as this is very inauspicious. 
        </p>
        <p class="text-dark">
            5.For better concentration place working desk in a way that it faces East or North direction .because these directions are the source of energy.
        </p>
        <p class="text-dark">
            6.For mental clarity, you can put crystals on your working desk because glass has the capacity of absorbing the adverse effects.
        </p>

        <p class="text-dark">
            7.You should not place your desk/ chair under the beam; otherwise, you will be feeling stressed and heaviness all the time if you have no alternative then install the false ceiling.
        </p>
        <p class="text-dark">
            8.There should be no noise while opening the main door of the home as this disturbs the cash flow.
        </p>

    </div>
    <hr>
</div>
{% endblock %}