{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        FENG SHUI – THE ART OF PLACEMENT
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img39.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p>
            <span class="h1 text-danger">F</span>eng Shui is also known as the “Art of Placement” to redesign spaces with the use of universal cosmic principles of nature. It uses natural elements to balance the energy flow or chi to enhance one’s life force for more musical and happier life experience. Feng Shui incorporates the five elements such as Wood, Water, Metal, Earth & Fire of nature to bring a balance in our environment.
        </p>
            
            <p class="text-dark">
                Feng Shui is an ancient Chinese system which explains the relation of human life & nature (energy )& their interconnection. Taking this law of nature with its theories & principles feng shui helps us in creating a balanced, comfortable environment along with enhancing specific areas of our lives.
            </p>
            <p class="text-dark">
                Feng Shui (pronounced Fong Schuay) means “wind and water.” These are the most vital elements & since they circulate throughout the planet and are in constant movement, so they represent “Energy.”
            </p>
            <p class="text-dark">
                Wind/Air is “Life” & water comprises 75% of everything on the living earth. When these two elements combine they create a diversity of weather & temperature conditions which broadly affect the life-changing all life forms on the planet. Knowing wind and water are essential energies other elements are also considered equally important & have energy based on its unique properties which are aligned in our environments to support and realize our fullest potentials in life. 
            </p>
            <p class="text-dark">
                Proper application of Feng shui principles can help in channelizing synergies in areas which we tend to enhance & eliminate negative energies leading to a feeling of overall balance, harmony & contentment. Despite its powers to direct energies in positive areas fengshui is not a magic bullet which will eradicate all problems, however, it will help in overcoming all challenges in life & give us greater awareness to change things in life which is in our control. 
            </p>
            <p class="text-dark">
                According to the laws of attraction, every thought radiates a signal and attracts a parallel signal. Each & every object of our homes is a clear reflection of our thought process & belief system of our conscious & unconscious mind reflecting our beliefs personality.  Feng Shui is powerful because it helps us in learning the hidden messages in our physical surroundings that affect the directions & actions of our life.
            </p>
            <p class="text-dark">
                Feng shui provides us with tools which can help us neutralize the negative energies & shift the vibrations of our physical environment by the arrangement of objects in a way that it reflects what we want. It works on funda of the law of attraction of “Like attracts Like” Feng Shui addresses the subtle things in our environment that wear on us over time and bring our chi (energy) down.
            </p>
            <p class="text-dark">
                Examples might be clutter piles, the sharp-edged furniture that can injure, plants dying or limping along, objects from past relationships that bring us down, disempowering or disturbing art, heavy objects like beams or ceiling fans overhead create a feeling of being unsafe.
            </p>
            <p class="text-dark">                
                After Clearing these negative areas, we then bring in stuff that is more positive & affirmative in look & feels like live plants and trees, inspiring nature photos that uplift etc.as these will always raise the energy. The more passionately you think about these environmental affirmations, the more chi they will generate for you.
            </p>
            <p class="text-dark">
                Feng Shui is neither about magic nor superstition. Neither is it about hanging crystals and wind chimes in strategic places that mysteriously bring us good fortune. It is a *powerful teaching about how to focus and direct energy in our physical environments to produce the maximum benefit in our lives.
            </p>
    <hr>
</div>
{% endblock %}