{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">
        VASTU PRINCIPLES THAT HELP YOUR CHILDREN STUDY BETTER
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img30.jpeg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">I</span>n Vastu, there is a methodology to accentuate the concentration of your children, which in turn helps them in their studies. Detailed below are a few Vastu principles to improve children’s excel in their studies.

        </p>
        <p class="text-dark font-weight-bold">
            According to Vastu principles you should,
        </p>
        <p class="text-dark">
            1.Keep your Bookcase clean and dust-free, as tardy Bookcases tend to proliferate negative energies and imparts a staleness to the rooms.
        </p>
        <p class="text-dark">
            2.
            Bookcases should be moved and managed to at least once in three months to ensure they are clean.
        </p>
        <p class="text-dark">
            3.Avoid construction of the study rooms under the staircase as it portends negativity and could be an impediment in your child’s study.
        </p>    
        <p class="text-dark">
            4.
            Strong bright colors in study rooms cause hyperactivity or insomnia in children and lead to distractions, so use colors, paints that aid your children’s mental faculty in studying.
        </p>
        <p class="text-dark">
            5.Keep your study desk away from the window and ensure the Doors are not behind his study chair
        </p>
        <p class="text-dark">
            6.Crystals help in radiating positive energy, so place crystals in the study room to enhance the child’s concentration.
        </p>
        <p class="text-dark">
            Keep your study desk away from the window and ensure the Doors are not behind his study chair. Let the study desk face North for positive vibrations.
        </p>
    </div>
    <hr>
</div>
{% endblock %}