{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        DIRECTIONS ACCORDING TO VASTU FOR HAPPY RELATIONSHIPS
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img35.jpg' %}" alt="img" srcset="" class="w-50">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">I</span>f the bedroom is not in the correct direction, the resident of the house can suffer from infidelity, infertility, frequent fights, psychological issues, stress, anger, health problem and separation or divorce.
        </p>
        <h3 class="font-weight-normal">
            Here are a few tips of Vastu to make relationships more secure happy and fulfilling
        </h3>
        <p>
            1.The southwest direction is the best possible bedroom location for the master of the house.
        </p>
        <p class="text-dark">
            2.The newly married couple should not occupy the bedroom located in the southwest direction because that can lead to frequent misunderstanding and fights between them.
        </p>
        <p class="text-dark">
            3.For newly married couple North-west corner bedroom is preferable. Southeast direction is associated with fire so the bedroom should be avoided otherwise many complications including health may take place.
        </p>
        <p class="text-dark">
           4.
           The bed should be rightly placed with single mattress and not more than two pillows. 
        </p>
        <p class="text-dark">
            5.One should keep changing bed covers, sheets and cushion cover every week/fortnight as these things tend to absorb negative energy.
        </p>
        <p class="text-dark">
            6.The direction of the bed is uttermost important head direction should be either East or South.
        </p>

        <p class="text-dark">
            7.The storage area of the bed should be clutter free, and It should not be a dumping space.
        </p>
        <p class="text-dark">
            8.One should not hang paintings of war, fight, fire hunting animals sunset or dead persons/ animals in the bedroom as they produce negative energy.
        </p>
        <p class="text-dark">
            9.Water fountain, aquariums should not be kept in the bedroom as water is unstable in nature, so that causes instability in the relationships.
        </p>
        <p class="text-dark">
            10.Pink white or any soothing color should be used in the bedroom. The whole room should be painted in one color. 
        </p>

    </div>
    <hr>
</div>
{% endblock %}