{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">

        VASTU COLORS FOR YOUR PROSPERITY.
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img32.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">V</span>astu Colors create harmony as per the directions. Vastu is connected with humans on four planes of existence. Employ the right usage of vastu colors, to improve your harmony quotient. It’s good to be careful and not to use opposing colors for contradicting effects. Be it your office or Home; colors create a considerable impact.

        </p>
        <p>Colors and their directions:</p>
            <p class="text-dark my-2 font-weight-bold">
                1.East
                <br>
                The Sun colors rule EAST, so correct colors are Red, Orange, Brown are dominant.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                2.West
                <br>
                Saturn, whose color is Blue represents WEST.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                3.North
                <br>
                Mercury rules NORTH with Green color.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                4.South
                <br>
                Mars governs SOUTH and the colors for this direction are Red and Pink.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                5.North-East
                <br>
                Jupiter represents NORTH-EAST; thus the governing color is Yellow with Golden hues.

            </p>
            <p class="text-dark my-2 font-weight-bold">
                6.North-West
                <br>
                NORTH-WEST is harmonious with White and Pearl.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                7.South-West
                <br>
                Rahu rules SOUTHWEST. The suitable vastu color here is Blue.
            </p>
            <p class="text-dark my-2 font-weight-bold">
                8.South-East
                <br>
                Venus effects SOUTH-EAST. Colors preferred in this section is either White or Silver.
            </p>
    </div>
    <hr>
</div>
{% endblock %}