{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        SOME VASTU HEALTH TIPS FOR YOU AND YOUR FAMILY
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img38.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p>
            <span class="h1 text-danger">S</span>ead how Vastu-Shastra helps in nourishing and curing your health issues.
        </p>
        <ul>
            <li class="text-dark my-2">
                If you have a continuous headache that may be because you are sleeping under the exposed beam, East sector of the premises should be clutter free for the longevity of the residents.
            </li>
            <li class="text-dark my-2">
                If you are staying near a factory or any high production generating propositions then using a metal wind chime can counter negative energy.
            </li>
            <li class="text-dark my-2">
                A heart attack can be avoided by not constructing stairs in the East direction. 
            </li>
            <li class="text-dark my-2">
                Diabetes can occur if your Eastern part is cluttered — Cook food facing East for keep calm. 
            </li>
            <li class="text-dark my-2">
                Using too many colors is not good for mental health.
            </li>
            <li class="text-dark my-2">
                Food cooked in a stove located beneath the toilet causes ill health.
            </li>
            <li class="text-dark my-2">
                If your kitchen is located in the North East and West is more open then East then frequent sickness is on the cards.
            </li>
            <li class="text-dark my-2">
                Regular maintenance of dining furniture brings good health and the chipped or broken brings the reverse effect.
            </li>
            <li class="text-dark my-2">
                The dining area must never get exposed to the Main Entrance of the house as it leads to sickness to the residents.
            </li>
            <li class="text-dark my-2">
                No room especially bedrooms should be built under the staircase as the person using it exposed to major sickness.
            </li>
            <li class="text-dark my-2">
                Play soothing music for the like ocean waves, falling of rain for calmness and avoiding stress and happy state of mind. The toilet in the Northeast brings high medical expenditure.
            </li>
        </ul>
    <hr>
</div>
{% endblock %}