{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        VASTU PLANTS & TREES THAT ENERGIZE YOUR HOMES
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img37.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p>
            1.Lime tree has the power to absorb all the negative energy of the house.
        </p>
        <p class="text-dark">
            2.The big tree should not be at the entrance of the house as they block energy.
        </p>
        <p class="text-dark">
            3.However, they can be planted in the south or west direction.
        </p>
        <p class="text-dark">
           4.
           Thorny plants should not be planted in the house (especially cactus )as these plants except rose can have negative energy.
        </p>
        <p class="text-dark">
            5.No big plant should be planted center of the house.
        </p>
        <p class="text-dark">
            6.Money plant inside the home brings good luck.
        </p>

        <p class="text-dark">
            7.Pine, peach, and bamboo are symbols of long life; these can be planted in the garden and pictures of the same can be put on the east wall of the home.
        </p>
        <div class="text-center">
            <img src="{% static 'images/banners/moneyplant-800x540.jpg' %}" alt="img" srcset="" class="w-75 mx-auto">
        </div>
        <p class="text-dark">
            Moneyplant is also considered to be a harbinger of a good omen.
        </p>

    </div>
    <hr>
</div>
{% endblock %}