{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">
        CHECK VASTU FOR PAINTINGS BEFORE YOU BUY ONE.
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/33.jpeg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Symbolic Vastu guidelines for Vastu in Home Paintings</h2>
        <p class="text-dark">
            <span class="h1 text-danger">A</span>s per Vastu for Paintings, there are few guidelines for choosing art paintings and visual images for your home. These guidelines help you in creating a harmonious and positive ambiance for your home.  
        </p>
        <h4>Use pleasant images that convey happiness and serenity</h4>
        <p>Colors and their directions:</p>
            <p class="text-dark my-2">
                First, let’s see what the right elements in Vastu for Paintings are? Symbols like Swastika, Om, Rangoli, Lamps, Landscape paintings, etc. exudes positive influence, so they are good Vastu for Paintings. It brings warmth to your home. Try keeping warm, or soft colored pictures as they help you to brighten the mood, are pleasing to the eyes and give a soothing effect.
            </p>
            <p class="text-dark my-2">
                In home decor,  avoid paintings depicting depressed, lonely, and upsetting emotions. Also avoid Paintings of animals like pigs, snakes, and birds. Keep away from representations of eagles, owls, crows, pigeons, and vultures. These types of Murals create anger or aggression and disturb home harmony. Alternately don’t buy paintings denoting sorrow, people in tears or war portrait, such as Ramayana or Mahabharata.
            </p>
            <p class="text-dark my-2">
                Furthermore, as per the Vastu principles, In Vastu for Paintings, elements to be avoided for happy homes are masked portraits, stone or wooden statues of terrifying giants or demons (depicting anger or any form of dark magic). Avoid such images as they bring imbalance to the home energies.
            </p>
            <p class="text-dark my-2">
                For having a good vastu visuals, it’s also essential to know the directions of the walls to adorn them. A sound indicator to check good Vastu for Paintings would start with the right colors in the right directions. Go through this article here for Vastu Color directions
            </p>
            <h4>
                Avoid beastly animal paintings.</h4>
            <p class="text-dark my-2">
                
                Ignore artistic painting of wild beasts like tigers, lions, wolves, bears, jackals, wild asses, hounds, etc. as they are wrong Vastu for Paintings. In the bedroom, do not place any images other than family members photo/paintings. Pictures showing birds, or affectionate relations are ideal for any home as they bring relationships & people closer. So there you are, employ the right Vastu guidelines for Paintings and Murals to increase your happy family quotient.
            </p>
            
    </div>
    <hr>
</div>
{% endblock %}