{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">RESORT,VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">
        DISCOVER VIVA- KERALA’S AYURVEDIC BACKWATER RESORT
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img34.jpg' %}" alt="img" srcset="" class="w-75 h-75">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <div class="text-center">
            <img src="{% static 'images/banners/viva-ayurvedic-resort.jpg' %}" alt="img" srcset="" class="w-50 mx-auto">
        </div>
        <p class="text-dark">
            <span class="h1 text-danger">S</span>ince Viva- an ayurvedic Backwater Resort is a treatment center that practices one of the ancient and traditional medical sciences in India, Ayurveda, It was important for them to use an architectural methodology that was holistic and encompassed a remedial aspect for the human life and its ecosystem. Thus Viva opted for a very authentic Keralaite style architecture to develop their ayurvedic resort. This particular style of architecture is very unique in India. This architecture methodology has been influenced by Dravidian and Indian Vedic architectural science (Vastu Shastra) more than two millennia ago.
        </p>
        <p>
            The Tantrasamuchaya, Thachu-Shastra, Manushyalaya-Chandrika, and Silparatna are important architectural sciences, which have had a strong impact on Kerala architectural modus operandi. Among this the Manushyalaya-Chandrika, a work devoted to domestic architecture is been followed during Viva’s creation.
        </p>
        <div class="text-center">
            <img src="{% static 'images/banners/guest-room-ref.jpg' %}" alt="img" srcset="" class="img-fluid mx-auto">
        </div>
        <p class="text-dark">
            Viva Ayurvedic Backwater resort was crafted by refurbishing an ancient house which existed for more than 100 years.
        </p>
        <p class="text-dark">
            The base model of Viva is a plain rectangular shape with a ribbed roof evolved from functional contemplation. It’s long, steep sloping roof with tiles laid on it, built to protect the house’s walls and to withstand the heavy monsoon. The roof frame made of hardwood and timber. Structurally the roof frame was supported on the pillars of the walls erected on a base raised from the ground for protection against dampness and insects in the tropical climate in Kerala. Gable windows were evolved at the two ends to provide attic ventilation when the ceiling was incorporated for the room spaces. Overall the elegance of Kerala artistry can be well explained through the architecture of VIVA Ayurveda.
        </p>
        <div class="text-center">
            <img src="{% static 'images/banners/Viva_3.jpg' %}" alt="img" srcset="" class="img-fluid mx-auto">
        </div>
        <h4>
            Composition of Viva Ayurvedic Backwater resort
        </h4>
        <p class="text-dark">
            The science of Vastu played a very important role in developing Viva Ayurveda house. The basic concept of Vastu Shastra (the science of architecture) underlines that every structure built on earth has its own life, with a soul and personality which is shaped by its surroundings. Viva Ayurveda house has used timber for its construction as per the rule of Thachu-Shastra (Science of Carpentry). The concept of Thachu underlines that as timber is derived from a living form, the wood. Timber has its own life when it used for construction, which must be synthesized in harmony with its surroundings and people who dwell inside it.
        </p>
        <h4>
            Materials
        </h4>
        <p class="text-dark">
            Viva Ayurveda house used a lot of wood for their frame construction, doors, ceiling, and column. Mud and lime used for constructing walls. Besides making the house aesthetically brilliant, the thermal character of this mixture helps to maintain a moderate temperature inside the house.
        </p>
        <p class="text-dark">
            A padippura, It is a structure containing a door forming part of Compound wall for the house with a tiled roof on top (It’s a formal entry to the house compound), welcomes you inside Viva Ayurveda. Then poomukam, It is the prime portico soon after steps to the house. It has a slope tiled roof with pillars supporting it. Its sides are open. From the Poomukham, you get into a verandah to either side in front of the house through an open passage called Chuttu Verandah. The elegance of charupadis (By the side of Chuttuverandah and Poomukham, wooden benches with carved decorative wooden pieces for resting the back are provided.), the beauty of wooden rails, and well-ventilated rooms, all add to the charisma of this eco-friendly house.
        </p>
        <h4>
            Treatment Rooms
        </h4>
        <p class="text-dark">

            The treatment rooms at the center are in a completely new building, also built in the form of a mud-house. The rooms consist of a storage facility for medicines.
        </p>
        <h4>
            Anti-ageing Hut
        </h4>
        <p>
            The anti-aging hut at this Ayurvedic treatment center has three mud walls, one inside the other. Such a construction of walls is used for filtered ventilation. Direct sunrays do not reach inside this specially constructed hut. Other than anti-aging treatment, this hut is used for meditation and to treat certain eye-illnesses.
        </p>

    </div>
    <hr>
</div>
{% endblock %}