{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">VASTU SHASTRA
    </h6>
    <h1 class="font-weight-normal text-dark text-center">        
        INTRODUCTION TO VASTU SHASTRA
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img30.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h3>
            The science behind Vastu-Shastra.
        </h3>
        <p>
            <span class="h1 text-danger">V</span>astu Shastra is the architectural science of constructing and positioning structures to produce peace, tranquility, and prosperity. The principles of Vastu as based on the Pancha-bhootas.
        </p>
        <h3>The Pancha-bhootas in the Vedas are:</h3>
        <p class="text-dark">
            <span class="font-weight-bold">Akasha :</span> The sky is the infinite expanse away from the earth, encompassing the entire universe. The Akasha is made up of Light, heat, gravitational force, magnetic fields, and other hidden forces. Its chief characteristic is Shabda (sound).
                
        </p>
        <p class="text-dark">
            <span class="font-weight-bold">Vaayu :</span> The Air in a broader perspective, from the earth’s atmosphere, stretches upto 400kms in height from the surface of the planet. Lives of humans, animals, plants, fish and even fire are controlled by Vaayu, whose main features are Shabda (sound) and Sparsha (touch).
                
        </p>
        <p class="text-dark">
            <span class="font-weight-bold">Agni :</span> Fire represents heat and light, days and nights, passion and vigor, enthusiasm and ardor, and its main characteristics are Shabda, Sparsha, and Roopa (form).
                
        </p>
        <p class="text-dark">
            <span class="font-weight-bold">Jal : </span> Water produces rain, river, sea and is the form of liquid, solid (ice) and gas (steam and cloud). Perfectly neutral in reaction, it exists in every living form of life. Its main characteristics are Shabda, Sparsha, Roopa, and Rasa (taste).                
        </p>
        <p class="text-dark">
            <span class="font-weight-bold">Bhumi :</span>  A solid earth material, the third planet from the sun. The earth is a giant magnet with north and south poles forming centers of attractions, and its magnetic field holds everything within its grasp. Three-fourths of the earth is water, and the rest is land. Characteristics? Shabda, Sparsha, Roopa, Rasa, and Guna (quality).           
        </p>
        <p class="text-dark">
            Earlier Vastu-Shastra was used mainly in the building of temples, then gradually it got applied in home construction as well. Eventually, vastu governed the regular activities of an individual like cooking, eating, sleeping and working.           
        </p>
        
            <p class="text-dark">
                The bathrooms are assigned a particular direction in Vastu constructed homes. In vastu its believed, that a particular form of energy guides every action, it needs to be assigned the space accordingly.
            </p>
            <p class="text-dark">                
                Vastu Shastra includes a fantastic array of special rules of proportion, mathematical calculations of the stars, planets and the very ground itself. <br>
                As per luminaries of Vastu, vastu resembles a human body. The Pancha-bhootas constitutes Vastu and the human body.
            </p>
            <p class="text-dark">
                So, therefore, It is necessary that there should be a right balance of five elements while planning with Vastu. Imbalance of these five elements in planning with Vastu creates dis-ease in the space, similar to a human when his bodily functions are disoriented.
            </p>
            <p class="text-dark">                 
                The body organs- There is similarity in the body organs. Two eyes, two ears, two hands, two legs, ten fingers of hands and feet on each side, all are of equal size. Reflect the same similarity in Vastu constructions too.
            </p>
            <p class="text-dark">
                Our mouth represents the main door of the house from where we intake food to energize the body; We remove the waste of the body from the lower back side of the body which is smaller than the mouth and similarly our toilet should also be at the back of the house smaller than the main gate.
            </p>
            <p class="text-dark">
                Our eyes represent windows through which we allow light energy to enter. We have two eyes one on the left and another on the right side of the body similarly there should be windows of the house near the main door. As per Vastu Shastra, the left-side window represent female members of the family and right side window, the male members of the family. Keep the windows clean, beautiful and durable to affect the energy of the family members positively.
            </p>
            <p class="text-dark">
                We breathe with two nostrils of the nose. To balance the body temperature, we inhale fresh, cold air from the left nostril and hot breath from the right nostril. In situations when we need to reduce the body temperature, we can start breathing from left nostril, as it reduces the heat in the body. This phenomenon of hot and cold air intake by human body teaches us:
            </p>
            <ul>
                <li class="text-dark my-2">
                    Our constructions cooling apparatus should be kept on the left side and heating apparatus on the right side in the house
                </li>
                <li class="text-dark my-2">
                    When we face the east, our left faces the north which are cold and our right side faces hot south.
                </li>
            </ul>
            <p class="text-dark">
                Some people doubt the credibility of Vastu. However, studies have proven it as an ancient science and following it will always add to better health, prosperity, and peace of the house or office, as experienced by individuals who follow it.
            </p>
    <hr>

</div>
{% endblock %}