{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal">MINIMALIST DECOR FOR CALM MINDS
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img10.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75">
        <p class="">
            <span class="h1 text-danger">M</span>aintaining a minimalist decor has benefits. Model home with modern minimalist designs is in vogue. Evidence by many developers, to offer apartment and houses with minimalist designs. Minimalist house designs pay attention to interior designs, which is apt for uncluttered decor and object placements. A minimalist home ambiance is less stressful, more so, if you are working alone or in a petite family.<br>

            You can make your home more appealing and easier to maintain too. Minimalist decor furniture usage is a smart way to grab peace and attention. A minimalist room would only contain a few essential pieces of only modern minimal decor furniture and more Clear surfaces. In a minimalist home, decor designs always have uncluttered flat surfaces, except for one or two accent decorations.<br>

            Minimalist decor designer home does not mean a home completely clear of things. Instead of having a coffee table utterly free of any objects, you could have a simple vase with a few fresh flowers or a clear desk might have a family photo set. Instead of having a lot of stuff in your home, a minimalist would choose just a few delicious things he loves and uses often.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-light h2">Minimalist Decor is the only essential mantra of tranquility:</span><br>

            Whether inspecting your minimalist decor furniture or anything else in the room, ask yourself if the item is genuinely crucial. If you can live without it, get it out. Except for the furniture, your floors should be completely clear. Nothing should clutter up on the level, stacked and nothing should be stored on the floor. Clean, bright surfaces, Clear, unstained walls. Store stuff out of sight but you should save everything you need out of sight, in drawers and cabinets.
        </p>
        <hr>
        <p class="my-2">

            De-clutter in minimalist decor is the chief creative and imaginative thought, Create simple artwork decorations everyday window treatments, bareback windows, or simple single colored curtains.<br>

            Artifacts that complement the wall color or simple wooden blinds screens are fascinating. Too much brilliant stuff around the windows is a clutter. Everyday patterns and subdued colors enhanced the window look. Once you’ve simplified a room, take a moment to look around and enjoy it. It’s serene and satisfying. This is the reward for your hard work. Place everything for essentials. Sit back, relax, and experience is the new definition of minimalist design.
        </p>
        
    </div>
    <hr>
</div>


{% endblock  %}