{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal">DECOR LESSONS FROM BOLLYWOOD’S <br> PRODUCTION DESIGNER
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img1.jpg' %}" alt="img" srcset="" class="content_1_style">
    </div>
    <div class="my-4 text-justify w-75">
        <p>
            In particular, Bollywood never fails to impress us with its different cinematographic hues and colorful grandeur. How have we wished at times, that our homes to reflect the trends set by the doyens of the dream industry. Apurwa Sondhi, A noted Bollywood Production Designer who has worked on films like Atithi Tum Kab Jaaoge, Pyar ka Panchnama, De Dana Dan, Paa, etc.,  reveals the magic behind the captivating visuals and the artistic décor used by the Dream industry.
            <br>
            Read how Apurwa Sondhi, A noted Bollywood Production Designer reveals the magic behind the captivating visuals and the artistic decor used by the Dream industry.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-light h2">First things first, as said by a Production Designer</span><br>

            As Apurva puts it, the entire décor on the film set starts with a scene brief, which sets the tone for the Décor space, Color palette, Lights, Space management, Artifacts, etc. An essential part of the décor mix is the psychographic profile of the characters and the scene mood. Juxtapose the precept of reel to real life, and we have a décor philosophy which makes the inhabitants a pivot to their environs. The interiors concept of a home must emanate, blend and compliment the personality of the residents. It must also mirror the mood setting of the individual space. So pick up your pencil, start sketching rough ideas, that provides clarity.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-light h2">Resource optimization:</span><br>

            Being a production designer in Bollywood makes you an efficient resource juggler. Thus it’s also of paramount importance that you have a keen eye on the market, product availability and vendors cost unless you want to make your designer rich. Being pragmatic is important. If you have to string tight budget then why spend on a real window and it’s furnishings when an aesthetically done visually of the same will suffice, creativity is the key here.
        </p>
        
    </div>
    <hr>
</div>


{% endblock  %}