{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal text-dark">TAKE HELP OF LORD GANESHA IDOL TO <br>DECORATE YOUR HOME

    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img11.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify">
        <p>
            You will find either a framed picture or a Lord Ganesha idol in most of the Indian houses. Apart from idols, there are numerous cool ways you can have Ganesha’s presence in your house.
            <br>
            Idols are the most popular items in home décor. These come in various sizes from small ones to be kept on shelves to large ones which are placed at a corner of the room. They add a lot of positive energy in your home environment and also a feeling of spiritual bliss. These statues and idols are made in clay, metal, crystal and even other precious metals like gold and silver. The clay statues are beautifully and attractively painted and sometimes also adorned with real clothes and ornaments.
        </p>
        <p class="my-2">
            <ul>
                <li> <span class="font-weight-bold"> Wall Hangings –</span> Paintings and pictures of Lord Ganesha framed on the wall.A different blend of Ganesha’s avatars make some excellent pieces of art.</li>
                <li class="my-4"><span class="font-weight-bold"> Accessories –</span> Apart from the regular statues, idols, and show-pieces, there are numerous items of everyday use that have Ganesha’s image inscribed on them. These may include jewelry boxes or storage boxes, pillows or Cushion covers, incense and also candles.</li>
                <li><span class="font-weight-bold">Wallpapers –</span> Bedroom walls can be adorned with Ganesha wallpapers, it imparts the bedroom with tranquil, pious and positive energy.</li>
            </ul>            
        </p>
        <hr>
        
    </div>
    <hr>
</div>


{% endblock  %}