{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal">CHANDELIERS THAT MATCH YOUR HOME <br> AND PERSONALITY

    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img3.jpeg' %}" alt="img" srcset="" class="content_1_style">
    </div>
    <div class="my-4 text-justify">
        <p class="">
            <span class="h1 text-danger">I</span>n reality, there are several types of chandeliers, which can fit its way into several decoration situations. For the home that you want to adorn it in, and for the room that you wish to place it in, there is a particular chandelier that would be most fitting for it. A person or designer should assess the type of emotion and suggestion the subject should bring to the room.
            <br>
            <p class="font-weight-bold h3">Innovative contemporary lighting for home, office, and patio lighting can add magnetism to any room.</p><br>

            Glass lighting chandeliers can add sophistication and style to any home.<br>

        </p>
        <p class="my-2">
            <p class="font-weight-bold h3">Architectural lighting is a mixture of art and science and can add appeal, function, and energy efficiency to the flame.</p><br>

            
            Before you start your hunt for the perfect chandelier, you should realize that each House & the people residing in it reflect a personality& so your home or architecture should be no different than that. An unlit chandelier for the dining room or a bar decor is gorgeous, as long as it works with the rest of your home decor. At home and décor, we just made it easier for you to select the perfect Chandelier with our personality essential quick guide for chandeliers.
        </p>
        <hr>
        <h2>PERSONALITY ESSENTIALS FOR CHANDELIER:</h2>
        <div class="">
            <img src="{% static 'images/banners/new.jpg' %}" alt="" srcset="" class="img-fluid text-center">
        </div>
        <p class=""><span class="font-weight-bold h3">I. BE ROMANTIC: Think to woo and to be wooed<br>completely.</span><br>
            Bring that romance in your house by installing a chandelier with dim lights to set a more romantic mood. Install a light modifier key that can adjust the brightness to give nuance of romance or pleasure. We strongly recommend alternatively the use of candle especially the ones with aromatherapy scents which are an inexpensive option. </p>
        
        <p class=""><span class="font-weight-bold h3">II. BE BOLD: Please don’t ask, “how bold?”. Just listen to your heart.</span><br>
            We know you know the best, just suggesting the black crystal as they do not reflect light in the same way that the clear crystals do, they make a bold statement and add an unusual air of ambiance to any room.</p>

        <p>
            <span class="font-weight-bold h3">III. BE CHARMING: Its charm, of course, attracts us to a chandelier in the first place
            </span><br>
            
            A Brass Chandelier adds elegance and exceptional warmth and beauty to your home. This form of lighting has been overlooked in the modern décor and is not overly produced, giving unique, individual brilliance and the charm to your home. This way you can add that zing, décor & brightness of elegance to your spaces with extensive & intelligent use of Chandeliers.
        </p>
    </div>
    <hr>
</div>


{% endblock  %}