{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal">‘UP- CHIC, UP-URBAN, & UP-FUN’ DESIGN</h1>
    <div>
        <img src="{% static 'images/banners/img8.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75">
        <p>
            <span class="h1 text-danger">R</span>IT was born out of a culmination of my desire to do something creative while imbibing two strong passions – a lifelong love of the English language & an aspiration to do business. The idea bore fruit while designing my own home and office and noticing a shortage of urban, contemporary accessories in India. I decided to fill in the gap and bring to India everything I had seen abroad and wanted here but couldn’t get!
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-bold">Your designs are very cosmopolitan, what are the factors that influence your product designing?</span><br>

            A- The fact that I have traveled and lived all around the world. My immediate family is spread across four continents – America, Europe, Africa, and Asia. This inspires me to make products for a global community living in a modern world. Also, since stress levels have reached new heights in today’s generation, the whimsical young girl in me aims to take the ‘edge’ off everyday tasks by designing products that add humor and value to the mundane.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-bold">What are the products RIT that has introduced into the market?</span><br>

            A- All our products offer unique designs and usage options to our customers. These vary from chalkboards, magnetic organizers, cushions, signages, mirrors, fun utility tins, bookends, paperweights, and much more.
        </p>
        <hr>
        <p class="my-2">
            <span class="font-weight-bold">Q- Can you elaborate more on the design process?</span><br>

            A- India is a vibrant and immensely populated country. Moreover, because it is so, the goal is to create products which lead people away from the engulfing riot of colors and disorder, into a sanctuary of organized, calm and peace. That’s why our designs are minimalistic, and the color is used only in flashes. However, my journey into design has taught me –<br>

            a) Designing ‘simple’, clean, and bold products are sometimes much more difficult than creating ones with more fanfare.<br>

            b) The process of design varies. At times, it can stem from emotions and thoughts (the signages & paperweights), and at other times the focus is on how we can make peoples lives more organized by user-friendly fun products (news tote, mail holder, cityscape shelf, stationary storage line). Ultimately though, we strive to cut out the clutter. To bring the ‘random’ into ‘tandem.’
        </p>
    </div>
    <hr>
</div>

{% endblock %}