{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <h6 class="font-weight-normal">DECOR IDEAS</h6>
    <h1 class="font-weight-normal">SKYLIGHT- PROVIDE YOUR HOME <br> DAYLIGHT AND VENTILATION
    </h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img2.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75">
        <p>
            <span class="h1 text-danger">S</span>kylights come in different shapes and sizes and are used to complement the architectural design of the building. There are many different types of skylights to suit your needs and tastes.
        </p>
        <hr>
        <p class="my-2">
            <ul>
                <li>A ventilating window, which opens up, allows air to pass through and is ideal for bathrooms and kitchens, where they help to relieve the humidity and provides air circulation.</li>
            </ul>    
        </p>
        
        <p class="my-2">
            <ul>
                <li>A fixed skylight does not open and is intended solely to allow light to pass into the building. These are commonly used in living rooms, dining rooms, atriums, staircases, and other areas both residential and commercial. </li>
            </ul>
        </p>

        <p class="my-2">
            <ul>
                <li>The tubular skylight, shaped like a small tube or tunnel is intended mainly for passages, walk-in closets and other small spaces where a conventional light would not be feasible.</li>
            </ul>
        </p>
        <p class="my-2">
            To create a beautiful atmosphere, windows can be made of stained glass, colored glasses, glass blocks, and double layered laminated glass.
        </p>
        <p class="my-2">
            <ul>
                <li>Terracotta or cement jaalis which are inexpensive can be used to heighten the aesthetic appeal. The light streaming in through these jaalis casts various patterns on the surrounding walls and floor and can be used to create a dramatic effect.</li>
            </ul>
        </p>
        <p class="my-2">
            <ul>
                <li>Sunshine or moonlight, penetrating through skylights above rippling water bodies, casts moving shadows on the walls creating a soothing ambiance. Apart from the visual impact, windows bring warmth and make cold spaces come alive with a sense of glow.</li>
            </ul>
        </p>
        <p class="my-2">
            <ul>
                <li>A skylight not only accentuates the aesthetic value of an area but also creates an atmosphere which makes a living experience.</li>
            </ul>
        </p>
        <p>
            Reports say that many commercial buildings can reduce total energy costs by up to one-third through the optimal use of skylight. The majority of commercial warehouses factories built in recent years have used skylights extensively for energy/cost savings. When properly selected and installed, an <span class="font-weight-bold">energy–efficient skylight</span> can help minimize your heating, cooling, and lighting costs.
        </p>


        
    </div>
    <hr>
</div>


{% endblock  %}