{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">EVENTS</h6>
    <h1 class="font-weight-normal text-dark text-center">ASIAN PAINT’S MAGNIFICENT STROKE OF COLORS – COLOR NEXT</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img27.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Mani Rastogi</h2>
        <p class="text-dark">
            <span class="h1 text-danger">A</span>sian Paints Color Marketing & IIID Delhi, Regional Chapter took great pleasure in escorting the guests and clients on a fascinating journey through Color Next 2011. With a lot of people expecting the inspiring color stories and some of them knowing what already Asian Paints have in store, it was another exciting event in the series of events Asian Paints has all over the country.


        </p>
        <p>
            Over the past few years Color Next, an Asian Paints initiative has blazed an exciting path of foresight and creativity. When first presented in 2003, it was widely regarded as ahead of its time. While forecasts have been an integral part of the fashion industry for many decades. Color next was the first of its kind for Indian interiors.
        </p>
        <p>
            We all know Color Next is the first color forecast for Indian interiors from Asian Paints. It combines an insightful understanding of trend forecasting with the creative intuition of India’s leading design experts. Each year Color Next presents and expertly curetted color vocabulary that reflects the aesthetics of our times.
        </p>
        <p>
            Trend forecasting at Asian Paints is all about understanding changing consumer behavior and the manifestations of these changes in their design and décor choices. Color Next showcases the most promising themes or stories that reflect these changes and their color associations. We think that Color Next can potentially help designers in three ways:
        </p>
        <p>
            <ul>
                <li>Provide an insight into the design vocabulary of the coming year, thereby giving a strong source of inspiration.</li>
                <li>Identify future consumer segments & their behavior, which can serve as a key input for the project planning/design and conceptualizing stage.</li>
                <li>Provide an expert, curated selection of colors and color compositions from the perennial choices available.</li>
            </ul>
        </p>
        <h3>Asian Paints Color Next’s Modus Operandi:</h3>
        <p>
            Asian Paints Color Next collect vast quantities of data – visual and nonvisual– from a variety of sources – magazines, websites, blogs, books, news, mainstream media, design shows, international trend reports, and interviews with societal, media, consumer, trend and design thinkers. This data is presented in various formats to designers from various streams, and they generate a large number of themes and color associations. A panel of very senior designers and industry experts along with the Color Marketing team from Asian Paints choose the most promising themes out of this set. Post the selection of the final themes; they are honed up further & presented in an edible format for Indian designers. By presenting the entire theme rather than only the color, we are also allowing designers to extrapolate other design directions for the theme as well.
        </p>
        <h3>Asian Paints Color Next Themes for 2011</h3>
        <h4>Theme: Charcoal</h4>
        <div class="row">
            <div class="col-md-6 w-25 h-25">
                <img src="{% static 'images/banners/img27.jpg' %}" alt="" srcset="" class="img-fluid ">
            </div>
            <div class="col-md-6 my-auto">
                <p>
                    Dark is the new glam. People are experimenting with hiding and revealing facets of themselves. There is a growing openness to the complex, alternate and different. Within each of us is a darker side that asks not for celebration but tacit acceptance. The Charcoal aesthetic at Asian Paints is layered with fresh sophistication. This bright palette is theatrical, particularly in hospitality, entertainment, and retail spaces. Highly textured and tactile, the Charcoal interior appeals to the grey within each of us.
                </p>
            </div>
        </div>
    
    </div>
    <hr>
</div>
{% endblock %}