{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">EVENTS</h6>
    <h1 class="font-weight-normal text-dark text-center">CONNECTIONS, THE PUNE DESIGN FESTIVAL 2015</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img26.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Mani Rastogi</h2>
        <p class="text-dark">
            <span class="h1 text-danger">T</span>o be a world-class organization representing professional interests of the Indian Design Community and creating a meaningful interface between design professionals, the industry, education institutes, the policymakers and people as users is the only vision of ADI. ADI is increasing awareness of ‘Good Design’ amongst the people and industry, throughout reach programs, events, publications, and installations. Every year they conduct an annual event called Pune Design Festival.


        </p>
        <p>
            “Pune Design Festival is not just a landmark event on the national design calendar. It has become the flagship event of India based Design community.”
        </p>
        <h3>What makes the Pune Design Festival 2015 different?</h3>
        <p>
            The Association of Designers of India (ADI) presented the 9th Pune Design Festival. This year’s theme, ‘Connections’ was celebrated with evolving interpretations of design. Connections are not only about the network of people but also about the deeper linkages of mind and soul; and creativity and passion. They are also about forging the links between past, present, and future. Pune Design Festival aims to connect the dots, as they look at how Design combines with Technology, Industry, Manufacturing, and Education.
        </p>
    
    </div>
    <hr>
</div>
{% endblock %}