{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">EVENTS</h6>
    <h1 class="font-weight-normal text-dark text-center">INDIA ART SUMMIT 2011 (DELHI) – REVOLT AGE</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img28.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Mani Rastogi</h2>
        <p class="text-dark">
            <span class="h1 text-danger">T</span>he 3rd Edition of INDIA ART SUMMIT defines and exhibits a range of paintings, sculptures, photography, mix media, prints, installations, drawings, video art, and performances.

        </p>
        <div class="text-center">
            <img src="{% static 'images/banners/Revolt.jpg' %}" alt="img" srcset="" class="img-fluid my-auto">
        </div>
        <p>
            Everything gets modernized as per the evolution of time including the human mind, as well. Now it’s the humanity which turned modern and so the art… becomes Contemporary Art, which originated from the civilization of essential skill. The 3rd Edition of INDIA ART SUMMIT defines and exhibits a range of paintings, sculptures, photography, mix media, prints, installations, drawings, video art, and performances. India Art Summit offered visitors from around the world a rich and fulfilling art experience in India. The event was produced by “fourth dimension Experiential Marketing Pvt. Ltd.” With Associate Partner “ABSOLUT.”
        </p>
        <p>
            India Art Summit was held from 20th Jan to 23rd Jan 2011 at grounds of Pragati Maidan, one of India’s oldest and most significant exhibition ground, (ITPO) Hall No. 18, New Delhi, India. On 20th Jan 2011 entry was for VIP’s and Media while rest three days it was open for public.
        </p>
        <div class="text-center">
            <img src="{% static 'images/banners/cycle-bw.jpg' %}" alt="img" srcset="" class="img-fluid my-auto">
        </div>
        <p>
            The event ebbed into two styles one was General Exhibitions by 77 artists and other was Solo Projects by 11 artists from different parts of the world. Hall no. 18 was planned well with suitability to fit all in same, which are Art Fair, Speaker’s Forum, Sculpture Park, Video Lounge, Curated Walks, Art Projects and Art Store.
        </p>
        <p>
            Individual or groups of artists developed the Art Projects as an interactive initiative meant to engage the visitors. It brought about a natural connection between art, spaces & people. They were named dramatically to sound more towards the design speak…Stop! Indians Ahead, C FOR CUTTER, Bhopal- A Silent Picture, Project Feed Station, etc.
        </p>    
    </div>
    <hr>
</div>
{% endblock %}