{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">KNS ARCHITECTS PVT LTD</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img19.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Kanhai Gandhi , Neemesh Shah & Shresht Kashyap</h2>
        <p class="text-dark">
            <span class="h1 text-danger">K</span>NS Architects Private Limited’ is a leading Architecture and Interior design firm based in Mumbai. The Company was formed in 1997 by Ar. Kanhai Gandhi, Ar. Neemesh Shah and Ar. Shresht Kashyap and since its inception the Company has successfully designed and executed several projects across India.
        </p>
        <p class="text-dark">
            Giving an in-depth introduction of our company, this offers services and solutions in the three verticals: Architecture, Interior Design, and Retail.
        </p>
        <p class="text-dark">
            KNS Architects is among the foremost architecture and interior design companies with several awards and accomplishments such as IIID Award, AICA Award, AII Award, IIJS Awards, VM&RD Award, Archi Design Award, All India Achievers Award, Award from the Indian Navy and more recently ‘Excellence Award for Architecture and Design’ by Trends Excellent Awards as one of the elite architecture & design firms.
        </p>
        <p class="text-dark">
            KNS Architects has a team of young and enterprising people sharing the same dreams and visions, adding further the company has a team of in-house consultants from the fields of HVAC, Electrical, Structural, Landscaping, Networking, Branding, Municipal etc. so as to provide comprehensive solutions to the customers in all the three verticals. Innovative design adaptability to various styles of design, on-time delivery, and cost-effective methods lend a cutting edge to KNS Architects. The company’s vision is to merge this strength with the customer’s requirements to achieve a great height of excellence.
        </p>
        <h4>Contact Details</h4>
        <p class="text-dark font-weight-bold">                
            kns@knsarchitects.com<br>
            +91 – 2267765000<br>
            304- 305, Dev Plaza,<br>
            SV Road,<br>
            Andheri (W)<br>
            Mumbai, Maharashtra 400058<br>
            India<br>
            Firm name : KNS Architects Pvt. Ltd <br>
            Principle Architecter : Kanhai Gandhi , Neemesh Shah & Shresht Kshyap <br>
            Education : GD Arch Academy of  Architecture (Mumbai). <br>

                       
        </p>
    </div>
    <hr>
</div>


{% endblock %}