{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">SUNIL PATIL</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img18.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Suni Patil Associates</h2>
        <p class="text-dark">
            <span class="h1 text-danger">S</span>PA is dedicated to environmentally friendly sustainable architecture and to bring the client’s dreams and aspirations into reality. Since the inception of the firm in the year, 1994 SPA has developed into one of the innovative and respected firms.
        </p>
        <p>
            SPA has completed more than 275 projects ranging from individual houses to large townships, from small shops to substantial commercial complex & corporate offices. SPA is also known for its innovative use of materials as well as the use of new materials and has been a pioneer in introducing new elements.
        </p>
        <h4>Contact Details</h4>
        <p class="text-dark">                
            spa1994@gmail.com<br>
            8E Third Floor, millenium<br>
            Sons park, Tarabhai Prak,<br>
            Kolhapur-03,, Maharashtra.<br>
            Firm name : Sunil Patil & Associates<br>
            Principle Architecter : Sunil Patil<br>
            Education : B Arch.

                       
        </p>
    </div>
    <hr>
</div>


{% endblock %}