{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">SHAILESH VEERA</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img15.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Shailesh Veera</h2>
        <p class="text-dark">
            <span class="text-danger h1">S</span>pirit-Integrated Solutions in architecture and Interiors is a highly
            qualified team of committed professionals for design and execution led by famous Architects Shailesh Veera
            and Mithali Kamath. Spirit- a system oriented organization work on the philosophy “think out of the box.”
            Spirit-Integrated solutions create designs that bridge the gap between an individual’s physical and
            spiritual needs. They believe in creating a space of art that one can inhabit & experience. Spirit received
            IIID MK Award for creating an intelligent furniture design for Pre-School classrooms. Their work got
            published in many of the leading magazines in India.
        </p>
        <p class="font-weight-normal text-dark"><u>
            spirit024@yahoo.com<br>
            B1, Anand Sagar,<br>
            Anand Nagar MG Road,<br>
            Kandivali (West),<br>
            Mumbai, Maharashtra Mumbai 400067<br>
            India<br>
            Firm name : Spirit<br>
            Principle Architect : Shailesh Veera, Meetail Kamath<br>
            Education : Shailesh Veera : (B Archv) / Meetail Kamath : (B Arch).</u>
        </p>

    </div>
    <hr>
</div>


{% endblock %}