{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">MATHEW GOSH ASSOCIATES</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img16.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Nisha Mathew Ghosh & Sumitro Ghosh</h2>
        <p class="text-dark">
            The work ethos of Mathew & Ghosh Architects Pvt Ltd states “At the core of this work is the desire to
            introspect and build a critical architecture that is rooted in its physio-social context, and simultaneously
            at another level to transcend context towards the abstract-universal.
            <br>
            The unbuilt or built object must reveal relationships between man and man, man and nature. We believe that
            the technology used must strive to express the dramatic possibilities inherent like material and its
            construction. Refined detailing of the concept is thus critical to the expression of it.” Weaving this
            thought of scientific relationship excellence, Mathew & Ghosh Architects Pvt Ltd have created architecture
            wonders.
        </p>
        <h4>Contact Details</h4>
        <p class="text-dark">

                
                mathewghosharchitects@gmail.com<br>
                4B Temple Trees Row,<br>
                Srinivagilu Extention,<br>
                1St Cross Viveknagar<br>
                Bengaluru, Karnataka 560047<br>
                India 
        </p>
        <p >
            Firm name : Mathew & Ghosh Architects Pvt.Ltd
            Principle Architecter : Nisha Mathew Ghosh & Sumitro Ghosh
            Education : Nisha Mathew Ghosh : (B Arch) / Sumitro Ghosh : (B Arch).
        </p>

    </div>
    <hr>
</div>


{% endblock %}