{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">MORPHOGENESIS</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img17.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Mani Rastogi</h2>
        <p class="text-dark">
            <span class="h1 text-danger">M</span>orphogenesis is recognized globally as one of the leading Architecture firms from India. Founded in 1996, the firm is based out of New Delhi and is a collective offering specialized services in Architecture, Interior design, Masterplanning, Urban design, Landscape design & Environmental design consultancy.
        </p>
        <p>
            The works Morphogenesis has been exhibited at various locations, globally including Urban Islands (Sydney), Timeless @ Experimental Design Festival (Lisbon), The Urban Habitat Summit at India Habitat Centre (New Delhi), Gallerie ROM (Oslo) and the Royal Institute of British Architects (London).
        </p>
        <p>
            Early projects such as the Corporate Office for Apollo Tyres (2000) and The Uttorayon Township, Siliguri (2006) won the studio international acclaim and approbation during the initial years. More recent realized projects including Pearl Academy of Fashion- Jaipur (2008), Corporate Office for India Glycols- Noida (2009), and the Factory and Offices for the DS Group (2011)
        </p>
        <h4>Contact Details</h4>
        <p class="text-dark">                
            studio@morphogenesis.com<br>
            N-85 B<br>
            Pansheri park,<br>
            New Delhi , 400017<br>
            India<br>
            Firm name : Morphogenesis<br>
            Principle Architecter : Mani Rastogi, Sanal Rastogi,<br>
            Sanjay Bhardwaj & Vijay Dahiya.<br>                      
        </p>
    </div>
    <hr>
</div>


{% endblock %}