{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">
        ATHENA’S CONTEMPORARY ECO ARCHITECTURE DESIGN</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img21.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">D</span>ESIGN ATELIER, the brain behind eco architecture design building ‘Athena’ commercial complex and a group of qualified Architects’ cum Designers, states, “We want to leave a good footprint on the earth. We want to work with intellectual integrity and a contemporary sensibility because we want our buildings to be loved today and last long.”
        </p>
        <div class="text-center">
        <img src="{% static 'images/banners/21_content.jpg' %}" alt="" srcset="" class="img-fluid">
    </div>
        <p class="text-dark">
            The structure appeared in all its shape and architecture design by October 2010. It’s a corporate building for Chimes group. The building exterior contains a large logo of the Chimes group at the height of more than 50ft. From ground. The building’s exterior is defined and position to best leverage on the natural elements. Reflected natural light from the North faces and illuminates interior spaces without heat gain. Solar facades located on Western and South-East reduce heat gain and bring in a wholesome deep penetrating illumination through gibbon windows set high on the facade. The structure uses solar brightness during the day to mitigate electrical lights usage thus reducing the payload too.
        </p>
        <p>
            The entire architecture design project contains six floors and a stilt floor. The stilt floor has a reception and waiting on one side and the cafeteria on the other side. In the center is the heart and soul of this building, a C-shaped water body – the reflection pool. It’s a landscape designed for reflection and circulation of light energy in the building body. The sixth floor is the corporate office of the chimes group.
        </p>
        <p>
            Brilliant browns are used in cabins in combination with flooring of brown tiles.  A touch of green with upholstery and doors brings colors of nature inside. Fabulous use of wood is done in furniture a ceiling and lights are induced with creativity and directional need. Low height table running all along the wall with book storage below it is created in wooden battens. On the ground floor, beautiful features are formed on the glass panels as the photograph speaks. These fully glazed glass panels are etched with fossil shape leaf scattered in the central part that is eye level. 
        </p>
        <p>
            
            The conference rooms in the architecture design are played around with having glazed panels on the three sides. And the exterior is outside is fabulously administered with planters, pebbles, and pots. Circulation area cladding is done with tiles, and the rest area is covered with stones and cups are placed symmetrically with similar plant species.
        </p>
    </div>
    <hr>
</div>


{% endblock %}