{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">RAHOUL SINGH</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img22.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <p class="text-dark">
            <span class="h1 text-danger">E</span>very project of Rahoul Singh is the work of a multidisciplinary approach led by a diverse and committed team. They examine various aspects of the project and critically question the variables that affect the quality of designs, and the environment.
        </p>
        <p class="text-dark">
            RSDA flagship has three offices in New Delhi, India. The design studio is centrally located in Defense Colony, while the location of Turkey Express the practices division that specializes in workplace consultancy is in Chittaranjan Park.
        </p>
        <p>
            Okhla houses a third materials research and fabrication facility in the industrial park. Rahoul Singh and Lakshmi Chand lead the work of the firm.
            Rahoul got his degree in both architecture and fine arts at Rhode Island School of Design USA. Where his field of concentration was the history, theory, and criticism of arts and architecture, he is a visiting faculty in the department of architecture and urban planning at the school of planning and architecture in New Delhi.
        </p>
        <p>
            Several design publications and newspapers have featured his work, including exhibitions in the United States of America, Europe, and India.
        </p>
        <p>
            The work of RSDA runs on a collaborative approach. Close and constant involvement with clients, engineers, contractors, and artisans have over the years ensured that high-quality designs are translated on time and within budget into award-winning projects.
        </p>
    </div>
    <hr>
</div>


{% endblock %}