{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">HAFEEZ CONTRACTOR</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img24.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        
        <p class="text-dark">
            <span class="h1 text-danger">A</span>rchitect Hafeez Contractor is the foremost architectural firm in India today. The Company has grown from modest 3 person firm in 1982 to having a staff of well over 130 Architects, Interior Designer, Engineers, and other support staff.
        </p>
        <p class="text-dark">
            “Our designs are unique in concept, bold in execution, and at the same time responsive to the Client’s diverse requirements. Our rapid growth and impressive list of clientele, bear testimony to our commitment to producing the best in every job we are commissioned to undertake.<br>
            Our clientele list is from the diverse field having designed and executed works for real estate developers, public sector undertakings, large corporations, institutions to health care entrepreneurs, we are in an enviable position of being better equipped to deliver successfully, designs for jobs of any size, nature or complexity. These include large residential complexes, hospitals, educational institutions, hotels, resorts, and large town and city planning schemes. All these have been completed in record time under our expert Project Management Services.”

        </p>
        <p>
            Hafeez Contractor    
        </p>
        <p>
            Mr. Contractor, the principal architect begins the designing process whose ingenuity and planning skills are further explored and developed by his associates to produce outstanding designs.
        </p>
        <p>
            At Architect Hafeez Contractor’s office, the focus is deeply on the design potential of each work, converting them into built-reality, within the time frame and budget provided. Being primarily an Architectural and Interior Design firm, it provides architectural and interior design services “in-house”.
        </p>
        <h4>Contact Details:</h4>
        <p class="text-dark font-weight-bold">
            hr@hcontractor.com <br>
            Hafeez Contractor <br> 
            Near Horniman Circle, Sonawala Building, <br> 
            29th Bank Street Fort, <br> 
            Mumbai, Maharashtra 400001 <br>
            India <br>
            Firm name : Hafeez Contractor <br>
            Principle Architect : Hafeez Contractor <br>
            Education : AllAGD Arch, Ms Arch & UD(USA), Doctor of Architecture honoris Cause.
        </p>
    </div>
    <hr>
</div>


{% endblock %}