{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">BABU CHERIAN</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img20.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h2>Babu Cherian & Associate</h2>
        <p class="text-dark">
            <span class="h1 text-danger">A</span>rmed with a Bachelor’s degree in Architecture from the T.K.M. College of Engineering, Quilon, Kerala, he commenced his career with Architect Dinesh Rajeshrike & Associates, Mumbai as an Apprentice Architect.
        </p>
        <p class="text-dark">
            It was in 1995 that he began his private practice and to date has come out with the creative design.
        </p>
        <h4>Contact Details</h4>
        <p class="text-dark font-weight-bold">                
            
            babucherian@babucherian.com <br>
            5/3247, Mavoor Road <br> 
            Calicut <br>
            Kerala , 673001 <br>
            India <br> 
            Firm name : Babu Cherian & Associate <br> 
            Principle Architecter : Babu Cherian <br>
            Education : B Arch, TKM College of Engineering.
                       
        </p>
    </div>
    <hr>
</div>


{% endblock %}