{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 text-center">
    <h6 class="font-weight-normal text-center">INDIAN ARCHITECTS & INTERIOR DESIGNERS</h6>
    <h1 class="font-weight-normal text-dark text-center">MILIND PAI</h1>
    <div class="my-4">
        <img src="{% static 'images/banners/img23.jpg' %}" alt="img" srcset="" class="img-fluid">
    </div>
    <div class="my-4 text-justify w-75 mx-auto">
        <h3 class="text-dark font-weight-light">Commercial:</h3>
        <p class="text-dark">
            <span class="h1 text-danger">E</span>very Commercial, Retail and Public destination is a community in which each component is an opportunity to connect with people. Using an integrated approach that affects everything from strategic positioning to tenant planning as also environmental graphics, they shape unique influences into rich customer experiences at every turn.
        </p>
        <h3 class="text-dark font-weight-light">Residential:</h3>
        <p class="text-dark">
            In the current scenario when our lives are surrounded by all sorts of technology, and we have changing values, crossing cultures and economic influences affecting our way of living also affecting the places we live in.<br>
            They design environments that complement the ever-changing ways the world adapts. While each residence is unique in terms of location, density, and character, they all share a common thread. Each design is structured in an appropriate interpretation of the occupant’s culture and lifestyle.


        </p>
        <h3 class="text-dark font-weight-light">Institutional:</h3>
        <p>
            The arena of Institutional planning is enormously multifaceted. The functions and scales differ as per the requirements and the demands of the project. The space planning is (usually) generous as the number of occupants is usually large, in most case, with a high volume of space.
            <br>
            Since the features of institutions like schools, colleges, libraries, professional associations, and career courses are repetitive in functions, the designs thus formed are more disciplined and organized. <br>
            This brings down the planning skills to be competent enough in breaking the monotony using various design techniques like forms, textures, colors, and the introduction of new concepts without breaking the structural sequence. <br>
            Signage and graphics too play an important role. Their design sensibilities have constantly been evolving. Thus, they can show a continuous and visible transition from previous orthodox styles to a new revamped and contemporary feel that to their institutional projects.
        </p>
    </div>
    <hr>
</div>


{% endblock %}